
# User id and group id for containers
# You can get your host's values through:
# $ id -u
# $ id -g
UID=1000
GID=1000

# Timezone is important for schedule of cronjob
# that fetches wallpapers from configured sources
TZ=America/Mexico_City